
.menu{
    padding-top: 60px;
    width: 100%;
    margin: auto;
    /* background-color: blue; */

}
.menu h1{
    text-align: center;
    margin: 1.5rem 0;
    /* background-color: blue; */
}

.menu .menu-con{
    /* background-color: brown; */
    margin: auto;
    width: 80%;
    /* height: 80vh; */
    padding: 1rem;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}

.menu .menu-con .item{
    width: 100%;
    height: 500px;
    background-color: #eee;
    padding: 1rem;
    box-shadow: 0px 0px 4px gray;
    border-radius: 4px;
}

.menu .menu-con .item:hover{
    box-shadow: 0px 0px 4px red;

}

.item .img{
    height: 300px;
    overflow: hidden;
}

.item h2{
    text-align: center;
    margin: 1rem 0;
    /* background-color: blue; */
}

.item .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s ease;
}

.item .img img:hover{
    scale: 1.1;
    cursor: pointer;
}

.item button{
    margin-top: 1rem;
    width: 100%;
    padding: 12px;
    background-color: orange;
    color: white;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    transition: all 0.2s ease;
}

.item button:hover{
    background-color: rgba(255, 166, 0, 0.8);
    cursor: pointer;
    box-shadow: 0px 0px 2px gray;
}

/* Menu Responsive */
@media(max-width: 800px){
    .menu .menu-con{
        display: grid;
        grid-template-columns: 1fr;
    }
    
}











